html {
    background-image: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
}

body,html {
    margin: 0;
    padding: 0;
    font-family:monospace;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}

header{
    text-decoration: overline  underline;
    font-size: 50px;
    margin-bottom: 10px;
    background-color:black;
    color: white;
    height: fit-content;
}

img{
    display:block;
    min-width: 225px;
    max-height: 225px;
}

.button{
    cursor: pointer;
    border-radius: 5px;
}

.button:hover{
    border-color: red;
    box-shadow:0 0 10px red;
}

.container{
    position: relative;
    width:auto;
    height:fit-content;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.container div{
    border-color:gray;
    box-shadow: 8px 8px 5px gray;
    min-width:225px;
    max-height:fit-content;
    border-radius: 5px;
    text-decoration: underline;
}

.winners_div {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width:auto;
    height:fit-content;
    justify-content: center;
    align-items: center;
}

.winner{
    width:auto;
    height:fit-content;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color:red;
    padding: 20px 0px 20px 0px;
    margin: 20px 0px 20px 0px;
}

#scoreboard {
    margin-top: 10px;
    font-size: 20px;
}