html {
    background-image: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
}

body,html {
    margin: 0;
    padding: 0;
    font-family:monospace;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

header{
    text-decoration: overline  underline;
    font-size: 50px;
    margin-bottom: 5px;
    background-color:black;
    color: white;
    height: fit-content;
}

img{
    display:block;
    min-width: 225px;
    max-height: 225px;
}

.button{
    cursor: pointer;
    border-radius: 5px;
}

.button:hover{
    border-color: red;
    box-shadow:0 0 10px red;
}

.code{
    color:rgba(0, 0, 0, 0.0001);
    transition:display 2s ease-in-out;
}

.btn_div:hover .code{
    color:red;
}

.instructions{
    font-size:20px;
    font-weight: normal;
    position:absolute;
    top:250px;
    left:15px;
    max-width:325px;
    min-height:375px;
    padding:10px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items:center;

    background: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    box-shadow: 0 4px 50px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3.1px);
    -webkit-backdrop-filter: blur(3.1px);
    border: 1px solid rgba(255, 255, 255, 0.23);
}

.instructions ul{
    color: red;
    max-width: 225px;
    padding: 10px;
    font-weight: bold;

    background: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    box-shadow: 0 4px 50px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3.1px);
    -webkit-backdrop-filter: blur(3.1px);
    border: 1px solid rgba(255, 255, 255, 0.23);
}

.box{
    position: relative;
    left:22vw;
    max-width:60vw;
    min-height:575px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    box-shadow: 0 4px 50px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3.1px);
    -webkit-backdrop-filter: blur(3.1px);
    border: 1px solid rgba(255, 255, 255, 0.23);
}

.container{
    position: relative;
    width:auto;
    height:fit-content;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.container div{
    border-color:gray;
    box-shadow: 8px 8px 5px gray;
    min-width:225px;
    max-height:fit-content;
    border-radius: 5px;
    text-decoration: underline;
}

.winners_div {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width:auto;
    height:fit-content;
    justify-content: center;
    align-items: center;
}

.flash{
    width:auto;
    height:fit-content;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color:red;
    padding: 20px 0px 20px 0px;
    margin-top: 20px;
}

#scoreboard , .choice{
    position: absolute;
    top:255px;
    right:30px;
    padding-left:10px;
    padding-right:10px;
    max-width:275px;
    height: fit-content;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
    background: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    box-shadow: 0 4px 50px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3.1px);
    -webkit-backdrop-filter: blur(3.1px);
    border: 1px solid rgba(255, 255, 255, 0.23);
}

.choice{
   top:600px;
   max-width:250px;
   min-height: 300px;
}

.choose{
    color: red;
}